<h1>Angular</h1>
<!-- <author></author> -->
<!-- <courses></courses> -->
<!-- <my-favorite></my-favorite> -->
<!-- <input-pipe-customized></input-pipe-customized> -->

<!-- <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite> -->
<!-- <favorite [is-favorite]="post.isFavorite"></favorite> -->

<!-- <bootstrap-panel></bootstrap-panel> -->

<!-- <like 
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"></like> -->

<!-- <ng-if-ng-template></ng-if-ng-template> -->
<!-- <ng-switch-case></ng-switch-case> -->
<!-- <ng-for></ng-for> -->
<!-- <ng-style></ng-style> -->
<!-- <safe-traversal-operator></safe-traversal-operator> -->


<!-- ***************** DIRETIVA ****************** -->
<!-- <input type="text" appInputFormat [format]="'uppercase'"> -->
<!-- QUANDO TEMOS APENAS UMA PROPRIEDADE, PODEMOS PASSÁ-LA ASSIM -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <activity-section-six></activity-section-six> -->

<contact-form></contact-form>